@highlight-color: #7fc041;

/*Hiding Recommended Articles for Learning Paths*/
body.columbia-learning-path .elm-related-articles-container {
  display: none;
}

/*Hiding PDF Icons for Non-Pro Members*/
.hide-non-pro {
    display: none;
}

body.columbia-group-pro-admin .hide-non-pro {
    display: block;
}

/*Hiding Article Type for Tabs*/
h5.mt-classification-heading {
    display: none;
}

/*.elm-footer-custom {
    display: none;
}*/

/*Hidding Question Mark on Search*/
a.mt-f1-success.mt-f1-link.mt-icon-f1-link.mt-f1-search {
    display: none;
}

/*Collapse Path/Classification Setting*/
.noindex .mt-guide-tab-settings.mt-toggle-container button.mt-toggle.mt-toggle-collapse:before {
    content: '\e893';
}


.noindex .mt-guide-tab-settings.mt-toggle-container button.mt-toggle.mt-toggle-expand:before {
    content: '\e892';
}


.noindex .mt-guide-tab-settings.mt-guide-tab-settings.mt-toggle-container fieldset.mt-fieldset.mt-collapsible-section.mt-show {
    display: none;
}

/*Safari Background Picture*/
.columbia-browser-safari .mt-custom-home {
    background: url(https://www.nbshubhelp.com/@api/deki/files/2049/longer.jpg);
    background-size: cover;
}

.mt-custom-home {
    background-size: cover;
}

.elm-header {
    background: #fff;
}

.elm-header-user-nav.elm-nav {
    background: #0f4055;
    border-bottom: 1px solid #7FC041;
}

.elm-header-logo-container {
    background: #fff;
    border-top-color: #fff;
}

div.elm-header-logo-container {
    border-style: none !important;
}

.elm-header-global-nav {
    background: #ffffff;
}

.tool-tip-link {
    background-color: rgb(174, 167, 159);
    cursor: help;
    padding: 2px;
}

.mt-splash-container {
    background: url(/@api/deki/files/2049/longer.jpg);
    background-repeat: repeat;
    background-size: 100% auto;
}

blockquote {
    margin: .5em;
    padding: .25em;
}

h6 {
    font-weight: lighter !important;
}

.mt-version-indicator {
    padding: 2px;
    background: #efefef;
    overflow: hidden;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

    .mt-version-indicator span {
        float: left;
        display: block;
        margin-right: 20px;
    }

    .mt-version-indicator .version-text {
        font-weight: bold;
    }

/* Update glyph code for article icon */
.mt-icon-article-topic-video:before {
    content: '\e8b0';
}

#mt-toc-container {
    background: #FFF;
    border: 1px solid #000000;
    color: #000000;
    /*margin-left: 30px;*/
}

/* TOC Header */
.ui-widget button.mt-toggle, .ui-widget button.mt-toggle:visited, button.mt-toggle, button.mt-toggle:visited {
    color: #1F496B;
}

    /* TOC text */
    #mt-toc-container a, #mt-toc-container a:visited, .no-touch .ui-widget button.mt-toggle:hover, .no-touch button.mt-toggle:hover, .ui-widget button.mt-toggle:active, .ui-widget button.mt-toggle:focus, button.mt-toggle:active, button.mt-toggle:focus {
        color: #3473AC;
    }

/* Removes numbers from before TOC */
#mt-toc-container li:before {
    display: none;
}

/*Collapse*/
fieldset#mt-classification-settings {
    display: none;
}

.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area .mt-toggle-expand:before {
    content: '\e892';
}

.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area .mt-toggle-collapse:before {
    content: '\e893';
}

/* Guide button when someone has visited */
.ui-button-icon, a:visited {
    color: #3473AC;
    text-decoration: none;
}

/* Guide button when no one has visited */
.ui-button-icon, a {
    color: #3473AC;
    text-decoration: none;
}

/* Icons */

.note-blank {
    background-image: url(/@api/deki/files/577/NoteIcon.png?origin=mt-web);
}

.important {
    background-image: url(/@api/deki/files/583/Notes_Caution_icon.png?origin=mt-web);
}

.tip {
    background-image: url(/@api/deki/files/606/Tip_icon.png?origin=mt-web);
}

.important, .note-blank, .tip {
    overflow: hidden;
    border-radius: 6px;
    padding: 20px 20px 20px 70px;
    margin: 20px 0;
    background-repeat: no-repeat;
    background-position: 20px 20px !important;
    background-size: 35px;
    min-height: 30px;
}

.note-blank {
    background-color: #FFFFFF;
    border: 1px solid #8A8C8E;
}

.important {
    background-color: #F9F9F9;
    filter: alpha(opacity=60);
    border: 1px solid #8DCE19;
}

.tip {
    background-color: #FFFFFF;
    border: 1px solid #8A8C8E;
}

/* Conditionalized text and images */
.mt-style-conditional {
    color: #B74E29;
}

    .mt-style-conditional h1, .mt-style-conditional h2, .mt-style-conditional h3, .mt-style-conditional h4, .mt-style-conditional h5, .mt-style-conditional h6, .mt-style-conditional li, .mt-style-conditional p {
        color: #B74E29;
    }

    body.cke_editable .mt-style-conditional hr, .mt-style-conditional hr, .mt-style-conditional .note-blank, .mt-style-conditional .important, .tip.mt-style-conditional {
        border: 1px solid #B74E29 !important;
    }

    .mt-style-conditional img {
        border: 3px solid #B74E29 !important;
    }

/*img {
    border: 3px solid #B74E29 !important;
}*/

div {
    display: block;
}

/*Back to Top button*/
.mt-icon-back-to-top {
    position: fixed;
    display: inline-block;
    padding: 4px 10px 10px 10px;
    bottom: 20px;
    right: 0px;
    z-index: 100;
    background: #0f4055;
    font-weight: bold;
    visibility: hidden;
    color: #fff !important;
    line-height: 1.2;
    font-size: 100%;
    opacity: .97;
}

    .mt-icon-back-to-top.move {
        right: 0;
        visibility: visible;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .mt-icon-back-to-top.back {
        right: -200px;
        visibility: hidden;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

/*Responsive Mode Back to Top*/
@media screen and (max-width: 600px) {
    .mt-icon-back-to-top {
        bottom: 55px;
    }
}

/*Back to top on every Learning Path*/
.columbia-learning-path .elm-meta-article-navigation .elm-back-to-top, .columbia-article-topic-guide #mt-back-to-top {
    display: block;
}

/*Hide Search Question Mark*/
.mt-content-container #pageText a.mt-f1-success.mt-f1-link.mt-icon-f1-link.mt-f1-search.link-https {
    display: none;
}

/*Hide Powered by Mindtouch*/
footer.elm-footer nav.elm-footer-siteinfo-nav.elm-nav ol li.elm-footer-powered-by {
    display: none;
}

/*Hide Filters based on Account Type*/
body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-owner, body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-stage, body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-article {
    display: none;
}

body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-owner, body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-stage, body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-article {
    display: block;
}

/*Search Results Arrow*/
.mt-classification-filter-toggle-container button.ui-button-icon.mt-icon-reveal.mt-classification-filter-toggle {
    width: 100%;
    height: 100%;
    transition-duration: .2s;
}

.mt-classification-filter-toggle-container .mt-icon-reveal:before {
    content: '\e8e9';
    font-size: 2em;
}

.mt-classification-filter-toggle-container.mt-classification-filter-open button.ui-button-icon.mt-icon-reveal.mt-classification-filter-toggle {
    transform: rotate(180deg);
}

/* Search Filter Results */
.mt-help-breadcrumb-container {
    font-size: 1.15em;
}

.mt-help-breadcrumb-label {
    font-weight: normal;
    margin-right: .3em;
}

/*Hide Article Type*/
.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area + h5.mt-classification-heading {
    display: none;
}

.mt-carousel-helper-text {
    font-weight: bold;
}

/*.mt-help-breadcrumb-container.mt-search-breadcrumb-widget .mt-carousel-helper-text {
    display: block;
    margin-left: 0;
    padding-top: 10px;
} */

/*Help For Text*/
#mt-search-container #UserSupport h1.mt-help-header {
    font-size: 2em;
}

/*Hide Feedback on Search*/
.mt-help-button-container {
    display: none;
}

/*Hide Topic and Category for Non-Admin*/
body.elm-user-pro-member.columbia-article-topic-guide li.elm-last-modified,
/*body.elm-user-pro-member.columbia-article-topic-guide li.elm-page-restriction,*/
body.elm-user-pro-member.columbia-article-topic-category li.elm-last-modified,
/*body.elm-user-pro-member.columbia-article-topic-category li.elm-page-restriction,*/
body.columbia-group-school-users.columbia-article-topic-guide li.elm-last-modified,
body.columbia-group-school-users.columbia-article-topic-guide li.elm-page-restriction,
body.columbia-group-school-users.columbia-article-topic-category li.elm-last-modified,
body.columbia-group-school-users.columbia-article-topic-category li.elm-page-restriction {
    display: none;
}

body.elm-user-pro-member.columbia-article-topic-guide.columbia-group-pro-admin li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-guide.columbia-group-pro-admin li.elm-page-restriction, body.elm-user-pro-member.columbia-article-topic-category.columbia-group-pro-admin li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-category.columbia-group-pro-admin li.elm-page-restriction {
    display: block;
}

#user-history-top-control {
    opacity: 1;
}

    #user-history-top-control a, #user-history-top-control a:visited {
        color: #3473ac;
    }

    #user-history-top-control #user-history-uparrow {
        line-height: 1.2;
    }

.elm-meta-article-navigation {
    font-size: 100%;
}

.no-touch .ui-state-hover a:hover, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-error a, .ui-state-highlight a, .ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-widget-content .ui-state-error a, .ui-widget-content .ui-state-highlight a, .ui-widget-content a, .ui-widget-header .ui-state-error a, .ui-widget-header .ui-state-highlight a, .ui-widget-header a {
    color: #3473AC;
}

.elm-header-user-nav a, .elm-header-user-nav a:visited {
    color: #fff;
}

.mt-dropdown a:visited {
    color: #999;
}

/* Add export button to Page Classification Manager */
#mt-structuredtags-export-button {
    display: block;
}

/* Add feedback to video type articles*/
.columbia-article-topic-video .mt-feedback-rating-container {
    display: block;
}

/* Hides attachments for pro-viewers*/
body.elm-user-pro-member.columbia-group-pro-viewer .elm-attachments {
    display: none;
}

/*Hide Search Bar for initial login*/
body.columbia-special-firstloginwelcome ol li.elm-global-search {
    visibility: hidden;
}

/*Hide New Features for Non-Admins*/
body .mt-new-features-container {
    display: none;
}

body.elm-user-pro-member.columbia-group-pro-admin .mt-new-features-container {
    display: block;
}

/*Search Results Filter Height and Padding*/
#mt-category-carousel {
    margin-bottom: -50px;
}

.mt-help-carousel li a {
    height: 9em !important;
}

@media screen and (max-width: 600px) {
    #mt-category-carousel {
        margin-bottom: -20px;
    }
}

.mt-welcome-redirect:before {
    content: '\e613';
}

.columbia-article-topic-qpexternaldotreleases aside#mt-toc-container, .columbia-article-topic-qpinternadotreleases aside#mt-toc-container, .columbia-article-topic-releasenotes aside#mt-toc-container {
    display: block;
}


.columbia-article-topic-releasenotes ol.elm-meta-data.elm-meta-article-navigation, .columbia-article-topic-qpexternaldotreleases ol.elm-meta-data.elm-meta-article-navigation, .columbia-article-topic-qpinternadotreleases ol.elm-meta-data.elm-meta-article-navigation, .columbia-article-topic-releasenotes .mt-feedback-rating-container, .columbia-article-topic-qpexternaldotreleases .mt-feedback-rating-container, .columbia-article-topic-qpinternadotreleases .mt-feedback-rating-container {
    display: block;
}

.elm-header-user-nav a.mt-icon-user-sign-out {
    color: #999;
}


/*New TOC color update*/
aside#mt-toc-container {
    background-color: #7fc041;
    border: 2px solid #7fc041;
}

    aside#mt-toc-container button {
        color: #fff;
    }


        aside#mt-toc-container button:hover  {
        color:#fff;
    }

    aside#mt-toc-container.hh-collapsed {
        background-color: #fff;
    }

        aside#mt-toc-container.hh-collapsed button {
            color: #1F496B;
        }
                aside#mt-toc-container.hh-collapsed button:hover {
            color: #52c5ce;
        }

    article.elm-content-container aside#mt-toc-container nav ol li a:hover {
        color: #52c5ce;
    }


/*Learning Path Description Conditional Text*/
.mt-style-conditional .mt-listing-detailed-overview { 
    color: #B74E29;
}



























/*Different color scheme for Catagory/Guide*/
.mt-category-container a.mt-sortable-listing-link.mt-edit-section.internal, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dt.mt-listing-detailed-title a, article.elm-content-container section.mt-content-container ul.mt-classification-listings.mt-guide-listings li a,  article.elm-content-container section.mt-content-container dl.mt-listing-detailed dd.mt-listing-detailed-subpages ul li a, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dd.mt-listing-detailed-subpages ul li a:visited,  .mt-category-container a.mt-sortable-listing-link.mt-edit-section:visited, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:visited {
    color: #094a64;
}

    .mt-category-container a.mt-sortable-listing-link.mt-edit-section:hover, .mt-category-container a.mt-sortable-listing-link.mt-edit-section:active, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:hover, article.elm-content-container section.mt-content-container ul.mt-classification-listings.mt-guide-listings li a:hover, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:active, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dd.mt-listing-detailed-subpages ul li a:hover, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dd.mt-listing-detailed-subpages ul li a:active, article.elm-content-container section.mt-content-container dl.mt-listing-detailed dd.mt-listing-detailed-subpages ul li a:focus {
        color: #52c5ce;
    }

/*Learning Path Description Conditional Text*/
.mt-style-conditional .mt-listing-detailed-overview { 
    color: #B74E29;
}
.mt-style-conditional dl.mt-listing-detailed dd.mt-listing-detailed-overview:hover { 
    color: #B74E29;
}

/*New Icon Look*/
body.elm-user-pro-member .mt-sortable-listing, .mt-sortable-listing, .no-touch .mt-sortable-listing, body.elm-user-pro-member .mt-sortable-listing:active, .mt-sortable-listing:active, body.elm-user-pro-member .mt-sortable-listing:focus, .mt-sortable-listing:focus {
    border: none;
    box-sizing: inherit;
    border-radius: 0;
}

    body.elm-user-pro-member .mt-sortable-listing:hover, .mt-sortable-listing:hover, .no-touch .mt-sortable-listing:hover, body.elm-user-pro-member .mt-sortable-listing:focus, .mt-sortable-listing:focus, .mt-category-container a.mt-sortable-listing-link.mt-edit-section.internal:focus  {
     box-shadow: none;
     color:#52c5ce;
}

dl dt.mt-listing-detailed-title a:hover, dl dt.mt-listing-detailed-title a:focus {
color:#52c5ce;
}


dl dd.mt-listing-detailed-overview:hover {
    color:#000;
}

/*body.elm-user-pro-member .live-tag-entry a {
    color:#59882d;
}*/


/*Dropdown Options*/
body main header nav ol.mt-user-menu-container.mt-dropdown a, body main header nav ol.mt-user-menu-container.mt-dropdown a:visited {
color: #094a64;
}

body main header nav ol.mt-dropdown.mt-user-menu-container a:hover {
    color:#7fc041;
}

/*.elm-user-pro-member .mt-dropdown a, .mt-dropdown a, .elm-user-pro-member .mt-dropdown a:visited, .mt-dropdown a:visited {
    color: #094a64;
}*/
.no-touch .ui-button-icon:hover, .no-touch a:hover, .ui-button-icon:active, a:active {
    color: #7fc041;
}

/*Thumbnail width and Mobile friendliness*/
.mt-page-summary .mt-page-thumbnail img {
    max-height: 100px;
}

@media screen and (max-width:599px) {
    .mt-page-summary .mt-page-thumbnail img {
    display:none;
}
}

/*.mt-feedback-rating-controls .ui-button-icon {
    color: #3473ac;
}*/

/*Feedback Button Color Changes*/
.mt-rating-button-no.mt-icon-rating-no, .mt-rating-button-yes.mt-icon-rating-yes, .mt-feedback-button.mt-icon-leave-feedback {
   color: #094a64;
}

.mt-feedback-rating-controls .mt-rating-button-no.mt-selected, .mt-feedback-rating-controls .mt-rating-button-no.ui-button-icon:active, .mt-feedback-rating-controls .mt-rating-button-no.ui-button-icon:focus, .no-touch .mt-feedback-rating-controls .mt-rating-button-no.ui-button-icon:hover {
   color:#7fc041;
}

.mt-feedback-rating-controls .mt-rating-button-yes.mt-selected, .mt-feedback-rating-controls .mt-rating-button-yes.ui-button-icon:active, .mt-feedback-rating-controls .mt-rating-button-yes.ui-button-icon:focus, .no-touch .mt-feedback-rating-controls .mt-rating-button-yes.ui-button-icon:hover {
      color: #7fc041;
}

.elm-footer-custom .nbs-footer .links li {
font-weight:bold;
}

header.elm-header nav.header-links {
    font-weight: bold;
}

/*PDF & Subscription color change*/
.elm-page-notifications .mt-icon-page-notification, .elm-page-notifications .mt-icon-page-notification:active, .elm-page-notifications .mt-icon-page-notification:visited, .elm-page-notifications .mt-icon-page-notification.off:visited:visited {
    color: #094a64 !important;
}
.elm-pdf-export .mt-icon-article-pdf, .elm-pdf-export .mt-icon-article-pdf:active .elm-pdf-export .mt-icon-article-pdf:visited {
    color: #094a64;
}

.elm-pdf-export .mt-icon-article-pdf:hover {
    color: #52c5ce !important;
}

.elm-page-notifications .mt-icon-page-notification:hover,.elm-page-notifications .mt-icon-page-notification.off:hover {
    color: #52c5ce !important;
}

/*Color change for Next/Previous links*/
footer ol.elm-meta-data ul.mt-article-pagination li a, footer ol.elm-meta-data ul.mt-article-pagination li a span, footer ol.elm-meta-data ul.mt-article-pagination li a.mt-icon-next-article span,footer ol.elm-meta-data ul.mt-article-pagination li a:hover, footer ol.elm-meta-data ul.mt-article-pagination li a span:hover, footer ol.elm-meta-data ul.mt-article-pagination li a:visited, footer ol.elm-meta-data ul.mt-article-pagination li a span:visited {
   color: #3473AC;
}

footer ol.elm-meta-data ul.mt-article-pagination li a:hover, footer ol.elm-meta-data ul.mt-article-pagination li a span:hover {
   color: #52c5ce;
}

/*Color change for Next/Previous Links on Learning Paths*/
   ul.mt-article-pagination li a, ul.mt-article-pagination li a span, ul.mt-article-pagination li a:visited, ul.mt-article-pagination li a span:visited {
       color: #3473AC;
   }

   ul.mt-article-pagination li a:hover, ul.mt-article-pagination li a:active, ul.mt-article-pagination li a span:hover, ul.mt-article-pagination li a span:active {
   color: #52c5ce;
}

ul.mt-article-pagination li a.mt-disabled span, ul.mt-article-pagination li a.mt-disabled{
   color:#a7a7a7 !important;
}

/*Bolding TOC links and changing hover activity*/
aside#mt-toc-container .mt-toc-content ol a {
   /* font-weight:bold; */
}

aside#mt-toc-container .mt-toc-content ol li a:hover, aside#mt-toc-container .mt-toc-content ol li a:active, aside#mt-toc-container .mt-toc-content ol li a:focus {
   color: #52c5ce;
}

/*Breadcrumbs color change*/
nav.elm-header-global-nav ol.mt-breadcrumbs li a, nav.elm-header-global-nav ol.mt-breadcrumbs li:after, nav.elm-header-global-nav ol.mt-breadcrumbs li a span, nav.elm-header-global-nav button.elm-hierarchy-trigger {
    color:#094a64;
}

nav.elm-header-global-nav ol.mt-breadcrumbs li a:hover, nav.elm-header-global-nav ol.mt-breadcrumbs li a:hover span, nav.elm-header-global-nav ol.mt-breadcrumbs li a span:hover, nav.elm-header-global-nav button.elm-hierarchy-trigger:hover{
    color:#52c5ce;
}

/*Changing color/behaviour of Expandable list*/
dl.expand dt.expand{
   color: #3473ac;
}

dl.expand dt.expand:hover{
   color: #52c5ce;
}

/*Changing Classifaction colors for Pro Members only*/
body.elm-user-pro-member ol.elm-meta-data li.elm-classifications dl.mt-classification dd a, body.elm-user-pro-member ol.elm-meta-data li.elm-classifications dl.mt-classification dd a:visited, body.elm-user-pro-member ol.elm-meta-data li.elm-tags ol li.mt-tag-link a:visited  {
   color:#7fc041;
}

body.elm-user-pro-member ol.elm-meta-data li.elm-classifications dl.mt-classification dd a:hover, body.elm-user-pro-member ol.elm-meta-data li.elm-classifications dl.mt-classification dd a:active, body.elm-user-pro-member ol.elm-meta-data li.elm-tags ol li.mt-tag-link a:hover, body.elm-user-pro-member ol.elm-meta-data li.elm-tags ol li.mt-tag-link a:active{
   color:#59882d;
}

/*Learning Path Title Links*/
article.elm-content-container section.mt-content-container .mt-lp-path-container dl.mt-listing-detailed dt.mt-listing-detailed-title a, article.elm-content-container section.mt-content-container .mt-lp-path-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:visited {
    color:#3473ac;
}

article.elm-content-container section.mt-content-container .mt-lp-path-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:hover, article.elm-content-container section.mt-content-container .mt-lp-path-container dl.mt-listing-detailed dt.mt-listing-detailed-title a:active {
    color:#7fc041;
}

/*.mt-learningpath-widget .mt-toggle dl dt a, .mt-learningpath-widget .mt-toggle dl dt a:visited {
    color:#3473ac;
}

.mt-learningpath-widget .mt-toggle dl dt a:hover, .mt-learningpath-widget .mt-toggle dl dt a:active {
    color: #7FC041;
}*/

/*Links within Articles*/
article.elm-content-container section.mt-content-container a {
    color: #3473ac;
}

article.elm-content-container section.mt-content-container a:hover, article.elm-content-container section.mt-content-container a:active, article.elm-content-container section.mt-content-container a:hover:visited {
    color: #52c5ce;
}


/*Catagory and Guide descriptions in Detailed View, Learning Path hover fix*/
.mt-sortable-listing:hover, .no-touch .mt-sortable-listing:hover, body .mt-sortable-listing:focus, body .mt-sortable-listing:hover, body mt-sortable-listing.mt-sortable-lp-page:hover dd {
    color:#000 !important;
}

/*Editor text revert to default/Editor Fixes*/
.cke_menubar .cke_menubar_menuitem {
    color: #444 !important;
}

.deki-content-edit a:hover {
    color:#52c5ce;
}

/*Related/Recommended Articles Color Changes*/
footer .elm-related-articles-container ol li a:hover, footer .elm-related-articles-container ol li a:active, footer .elm-related-articles-container ol li a:focus {
    color:#7fc041;
}

/*I.E. Login Fix*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
footer.elm-footer .nbs-footer .copyright-info p {
margin-bottom: 0;
padding-bottom: 5px;
}
}

/*Revision History Button color fix*/
.history-version-container a#page-history-diff-button {
    color: #fff;
}
