@highlight-color: #7fc041;

/*Safari Background Picture*/
.columbia-browser-safari .mt-custom-home
{
 background: url(https://www.nbshubhelp.com/@api/deki/files/2049/longer.jpg);
background-size: cover;
}


.elm-header {background: #fff;}
.elm-header-user-nav.elm-nav {background: #0f4055; border-bottom: 1px solid #7FC041;}
.elm-header-logo-container {background: #fff ; border-top-color: #fff;}
div.elm-header-logo-container {border-style: none !important;}
.elm-header-global-nav {background: #ffffff}
.tool-tip-link {
  background-color: rgb(174, 167, 159);
  cursor: help;
  padding: 2px;
}
.mt-splash-container {
    background: url(/@api/deki/files/2049/longer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

blockquote {
    margin: .5em;
    padding: .25em;
}

h6 {
    font-weight: lighter!important;
}

.mt-version-indicator {
    padding:2px;
    background:#efefef;
    overflow:hidden;
    font-size:11px;
    border:1px solid #ccc;
    border-radius:3px;
}

.mt-version-indicator span {
    float:left;
    dipslay:block;
    margin-right:20px;
}

.mt-version-indicator .version-text {font-weight:bold;
}

/* Update glyph code for article icon */
.mt-icon-article-topic-video:before {
    content: '\e8b0';
}


/*Back to Top button*/
.mt-icon-back-to-top{
    position: fixed;
    display: inline-block;
    padding: 4px 10px 10px 10px;
    bottom: 20px;
    right: 0px;
    z-index: 100;
    background: #1F496B;
    font-weight: bold;
    visibility: hidden;
    color:#fff !important;
    line-height:1.2;
    font-size:100%;
}
       .mt-icon-back-to-top.move {
        right: 0;
        visibility: visible;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

    .mt-icon-back-to-top.back {
        right: -200px;
        visibility: hidden;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
    }

/*Back to to on every Learning Path*/

 .columbia-learning-path .elm-meta-article-navigation .elm-back-to-top, .columbia-article-topic-guide #mt-back-to-top{
display:block;
}

/*Hide Search Question Mark*/

.mt-content-container #pageText a.mt-f1-success.mt-f1-link.mt-icon-f1-link.mt-f1-search.link-https {
    display: none;
}

/*Hide Powered by Mindtouch*/

footer.elm-footer nav.elm-footer-siteinfo-nav.elm-nav ol li.elm-footer-powered-by {
    display: none;
}

/*Hide Filters based on Account Type*/

body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-owner, body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-stage, body.elm-user-pro-member .mt-field.mt-classification-filter-section.mt-classification-section-article {
    display: none;
}

body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-owner, body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-stage, body.elm-user-pro-member.columbia-group-pro-admin .mt-field.mt-classification-filter-section.mt-classification-section-article {
    display: block;
}

/*Search Results Arrow*/
.mt-classification-filter-toggle-container button.ui-button-icon.mt-icon-reveal.mt-classification-filter-toggle {
    width: 100%;
    height: 100%;
transition-duration: .2s;
}

.mt-classification-filter-toggle-container .mt-icon-reveal:before {
    content: '\e8e9';
    font-size: 2em;
}

.mt-classification-filter-toggle-container.mt-classification-filter-open  button.ui-button-icon.mt-icon-reveal.mt-classification-filter-toggle {
    transform: rotate(180deg);
}


/*Collapse*/
fieldset#mt-classification-settings {
    display: none;
}

.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area .mt-toggle-expand:before {
    content: '\e892';
}

.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area .mt-toggle-collapse:before {
        content: '\e893';
}

/*Hiding Article Type*/
.mt-guide-tab-settings.mt-toggle-container.mt-guide-tabs-settings-area + h5.mt-classification-heading {
    display: none;
}

/*Hide Feedback on Search*/
.mt-help-button-container {
    display: none;
}


/*Hide Topic and Category for Non-Admin*/
body.elm-user-pro-member.columbia-article-topic-guide li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-guide li.elm-page-restriction, body.elm-user-pro-member.columbia-article-topic-category li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-category li.elm-page-restriction, body.columbia-group-school-users.columbia-article-topic-guide li.elm-last-modified, body.columbia-group-school-users.columbia-article-topic-guide li.elm-page-restriction, body.columbia-group-school-users.columbia-article-topic-category li.elm-last-modified, body.columbia-group-school-users.columbia-article-topic-category li.elm-page-restriction {
    display: none;
}

body.elm-user-pro-member.columbia-article-topic-guide.columbia-group-pro-admin li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-guide.columbia-group-pro-admin li.elm-page-restriction, body.elm-user-pro-member.columbia-article-topic-category.columbia-group-pro-admin li.elm-last-modified, body.elm-user-pro-member.columbia-article-topic-category.columbia-group-pro-admin li.elm-page-restriction  {
    display: block;
}

/*Hide Filter Results if No Results*/
#mt-search-container #mt-help-results .mt-help-breadcrumb-container .mt-carousel-helper-text.mt-hide {
    display: none;
}

#user-history-top-control {
opacity:1;
}

#user-history-top-control #user-history-uparrow {
line-height:1.2;
}

.elm-meta-article-navigation {
  font-size: 100%;
}

/* Guide button when someone has visited */
.ui-button-icon, a:visited {
    color: #3473AC;
    text-decoration: none;
}

/* Guide button when no one has visited */
.ui-button-icon, a {
    color: #3473AC;
    text-decoration: none;
}

.no-touch .ui-state-hover a:hover, .ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited, .ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, .ui-state-error a, .ui-state-highlight a, .ui-state-hover a, .ui-state-hover a:link, .ui-state-hover a:visited, .ui-widget-content .ui-state-error a, .ui-widget-content .ui-state-highlight a, .ui-widget-content a, .ui-widget-header .ui-state-error a, .ui-widget-header .ui-state-highlight a, .ui-widget-header a {
    color: #3473AC;
}

#mt-toc-container {
    background: #F9F9F9;
    border: 1px solid #000000;
    color: #000000;
}

/* TOC Header */
.ui-widget button.mt-toggle, .ui-widget button.mt-toggle:visited, button.mt-toggle, button.mt-toggle:visited {
    color: #1F496B;
}

/* TOC text */
#mt-toc-container a, #mt-toc-container a:visited, .no-touch .ui-widget button.mt-toggle:hover, .no-touch button.mt-toggle:hover, .ui-widget button.mt-toggle:active, .ui-widget button.mt-toggle:focus, button.mt-toggle:active, button.mt-toggle:focus {
    color: #3473AC;
}

/* Removes numbers from before TOC */
#mt-toc-container li:before{
    display: none;
}

.note-blank {
    background-image: url(/@api/deki/files/577/NoteIcon.png?origin=mt-web);
}

.important {
    background-image: url(/@api/deki/files/583/Notes_Caution_icon.png?origin=mt-web);
}

.important, .note-blank {
    overflow: hidden;
    border-radius: 6px;
    padding: 20px 20px 20px 70px;
    margin: 20px 0;
    background-repeat: no-repeat;
    background-position: 20px 20px!important;
    background-size: 35px;
    min-height: 30px;
}

.note-blank {
    background-color: #FFFFFF;
    border: 1px solid #8A8C8E;
}

.important {
    background-color: #F9F9F9;
    filter: alpha(opacity=60); 
    border: 1px solid #8DCE19;
}

/* Conditionalized text and images */
.mt-style-conditional {
    h1, h2, h3, h4, h5, h6, li, p{
          color: #B74E29;
    }
    body.cke_editable hr, hr, .note-blank, .important, .tip{
        border: 1px solid #B74E29!important;
    }
    color: #B74E29;
    img {
        border: 3px solid #B74E29!important;
    }
}

div {
    display: block;
}

.elm-header-user-nav a, .elm-header-user-nav a:visited {
    color: #fff;
}

.mt-dropdown a:visited {
    color: #999;
}

/* Add export button to Page Classification Manager */
#mt-structuredtags-export-button {
    display: block;
}

/* Add feedback to video type articles*/
.columbia-article-topic-video .mt-feedback-rating-container {
     display: block;
}

/*Hide Search Bar for initial login*/
body.columbia-special-firstloginwelcome ol li.elm-global-search {
    visibility: hidden;
}