/* Changes the colors for the search bar */
.elm-user-pro-member .mt-quick-search-container .mt-search {
    background: #fff;
}

.elm-user-pro-member .mt-quick-search-container .mt-search {
    color: #000;
}

.elm-user-pro-member .mt-quick-search-container .mt-button {
    color: #999;
}

#mt-structuredtags-export-button {
    display

: block;
}
